

BODY {
  background-image:url('../Images/brushedgrey.png');
}

DIV.spaces, DIV.clipboard,DIV.folders,DIV.fldlist,DIV.resume,DIV.aspace,DIV.duser,A  {
  background-color:white;
  color:black;
}

DIV.spaces {
  position:absolute;
  
  margin:3px 0px  3px  3px;
/*  -moz-border-radius:15px;*/
  border:inset 2px white;
}

DIV.clipboard {
/*  -moz-border-radius:0 0 15 15;*/
  border-style:none inset inset inset;
  border-width:2px;
  border-color:white;
}
DIV.tabclip {

/*  -moz-border-radius:15px 15px 0px 15px;*/
  border-style:inset inset none inset;
  border-width:2px;
  border-color:white;
}
DIV.folders,DIV.fldlist,DIV.resume {
/*  -moz-border-radius:15px;*/
  border:inset 2px white;
}
DIV.space {
  border-color:white;
}
TABLE.tfldlist TH {
  background-color:#F5F5F5;
  border-left:#AAAAAA solid 1px;
}
TABLE.tfldlist TH.thover {
  background-color:#9fd0f9;
}
TABLE.tfldlist TR.trhover {
  background-color:#EEEEEE;
}

TABLE.tfldlist TR.headfirst TH {
  background-color:#EEEEEE;
/*  -moz-border-radius:15px 15px 0px 0px;*/
}
DIV.spaceselect  {
  background-color:#9fd0f9;
  border-color:#AAAAAA;
}

INPUT, TEXTAREA {  
  border-style : none none inset none;
}
/*DIV.fldlist TBODY.folder TR:hover, DIV.fldlist TBODY P:hover, INPUT:hover,DIV.smallspace:hover {
  background-color:#9fd0f9;
}*/

DIV.tabclip SPAN {         
  border-color : #aaaaaa;          
  background-color : white;
}
A:hover {
  background-color:#9fd0f9;
}
IMG.button {
  cursor:pointer;
  -moz-border-radius:15px;	
}

DIV.aspace TH {
  background-image:url('../Images/brushedbg.gif');
/*  -moz-border-radius:15px 0px 15px 0px;*/
	
}
IMG.button:hover, BUTTON:hover, TEXTAREA:hover,DIV.space:hover {
  background-color:#EEEEEE;
  cursor:pointer;
}

SPAN.folderhover {
  background-color:#EEEEEE;
}
SPAN.folderselect, TR.docselect {
  background-color:#9fd0f9;
}
INPUT:focus, BUTTON:focus, A:focus, SELECT:focus, OPTION:focus, IMG.button:focus, TEXTAREA:focus {
  background-color:#f9e19f;	
}
BUTTON {
  -moz-border-radius:5px ;	
}
/* pop up style */



.popup {
  background-color: #EEEEEE;  
  border-color: #DDDDDD;
}

.popup a.menuItem * ,a.menuItem, a.menuItem:link, a.menuItem:visited ,a.menuItemCtrl:link, a.menuItemCtrl:visited , a.separator {
  color: black;
  font-size:7pt;
  font-weight: normal;
}

 a.menuItemDisabled, a.menuItemDisabled:link,a.menuItemDisabled:visited,a.menuItemCtrlDisabled,a.menuItemCtrlDisabled:link,a.menuItemCtrlDisabled:visited {
  color: #AAAAAA;
  font-size:7pt;
  font-weight: normal;
}
a.separator {
  border-color:black;
}
a.separator:hover {
  text-decoration: none;
  color: white!important;
  background-color: #333333;  
}
.popup a.menuItem:hover,.popup a.menuItemCtrl:hover  {
  color: white!important;
  background-color: #333333;	
}
.popup a.menuItemDisabled:hover,.popup a.menuItemCtrlDisabled:hover {
  color: #777777!important;
  background-color: #EEEEEE;	
}
.popup a.menuItem:hover *,.popup a.menuItemCtrl:hover *  {
  background-color: #333333;  
  color: white;
}
.popup a.menuItemDisabled:hover *,.popup a.menuItemCtrlDisabled:hover * {
  color: white;
}