
BODY {
  background-image:url('../Images/brushedgrey.png');
}

DIV.spaces, DIV.clipboard,DIV.folders,DIV.fldlist,DIV.resume,DIV.aspace,DIV.duser,A  {
  background-color:white;
  color:black;
}
DIV.space {
  border-color:white;
}
TABLE.tfldlist TH {
  background-color:#F5F5F5;
  border-left:#AAAAAA solid 1px;
/*  background-image:url('../Images/tabvig.png');*/
}

TABLE.tfldlist TR.headfirst TH {
  background-color:#EEEEEE;
  -moz-border-radius:15px 15px 0px 0px;
}
DIV.spaceselect  {
  background-color:#EEEEEE;
  border-color:#AAAAAA;
}

INPUT, TEXTAREA {  
  border-style : none none inset none;
}
DIV.fldlist TBODY.folder TR:hover, DIV.fldlist TBODY P:hover, INPUT:hover,DIV.smallspace:hover {
  background-color:#9fd0f9;
}

DIV.tabclip SPAN {         
  border-color : #aaaaaa;          
  background-color : white;
}
A:hover {
  background-color:#9fd0f9;
}
IMG.button {
  cursor:pointer;
  -moz-border-radius:15px;	
}

DIV.aspace TH {
  background-image:url('../Images/brushedbg.gif');
  -moz-border-radius:15px 0px 15px 0px;
	
}
IMG.button:hover, BUTTON:hover, TEXTAREA:hover,DIV.space:hover {
  background-color:#9fd0f9;
  cursor:pointer;
}

SPAN.folderhover {
  background-color:#9fd0f9;
}
INPUT:focus, BUTTON:focus, A:focus, SELECT:focus, OPTION:focus, IMG.button:focus, TEXTAREA:focus {
  background-color:#f9e19f;	
}
BUTTON {
  -moz-border-radius:5px ;	
}
