
/*
BODY {
  background-image:url('../Images/brushedgrey.png');
}
*/
DIV.spaces, DIV.clipboard,DIV.folders,DIV.fldlist,DIV.resume,DIV.aspace,DIV.duser,A  {
  background-color:[COLOR_WHITE];
  color:[COLOR_BLACK];
}

DIV.spaces {
  margin:3px 0px  3px  3px;
/*  -moz-border-radius:15px;*/
  border:inset 2px [COLOR_WHITE];
}

DIV.clipboard {
/*  -moz-border-radius:0 0 15 15;*/
  border-style:none inset inset inset;
  border-width:2px;
  border-color:[COLOR_WHITE];
}
DIV.tabclip {

/*  -moz-border-radius:15px 15px 0px 15px;*/
  border-style:inset inset none inset;
  border-width:2px;
  border-color:[COLOR_WHITE];
}
DIV.folders,DIV.fldlist,DIV.resume {
/*  -moz-border-radius:15px;*/
  border:inset 2px [COLOR_WHITE];
}
DIV.space {
  border-color:[COLOR_WHITE];
}
TABLE.tfldlist TH {
  background-color:[COLOR_A9];
  border-left:[COLOR_A5] solid 1px;
}
TABLE.tfldlist TH.thover {
  background-color:[COLOR_C6];
}
TABLE.tfldlist TR.trhover {
  background-color:[COLOR_C6];
}

TABLE.tfldlist TR.headfirst TH {
  background-color:[COLOR_A8];
/*  -moz-border-radius:15px 15px 0px 0px;*/
}
DIV.spaceselect  {
  background-color:[COLOR_B5];
  border-color:[COLOR_A5];
}

INPUT, TEXTAREA {  
  border-style : none none inset none;
}
/*DIV.fldlist TBODY.folder TR:hover, DIV.fldlist TBODY P:hover, INPUT:hover,DIV.smallspace:hover {
  background-color:#9fd0f9;
}*/

DIV.tabclip SPAN {         
  border-color : [COLOR_A5];          
  background-color : [COLOR_WHITE];
}

IMG.button {
  cursor:pointer;
  -moz-border-radius:15px;	
}
/*
DIV.aspace TH {
  background-image:url('../Images/brushedbg.gif');
  -moz-border-radius:15px 0px 15px 0px;
	
}
*/
IMG.button:hover, BUTTON:hover, TEXTAREA:hover,DIV.space:hover {
  background-color:[COLOR_C5];
  cursor:pointer;
}

SPAN.folderhover {
  background-color:[COLOR_C5];
}
SPAN.folderselect, TR.docselect {
  background-color:[COLOR_B7];
}
/*
INPUT:focus, BUTTON:focus, A:focus, SELECT:focus, OPTION:focus, IMG.button:focus, TEXTAREA:focus {
  background-color:#f9e19f;
}
*/
BUTTON {
  -moz-border-radius:5px ;	
}
/* pop up style */

/*

.popup {
  background-color: [COLOR_A9];  
  border-color: #DDDDDD;
}

.popup a.menuItem * ,a.menuItem, a.menuItem:link, a.menuItem:visited ,a.menuItemCtrl:link, a.menuItemCtrl:visited , a.separator {
  color: black;
  font-size:7pt;
  font-weight: normal;
}

 a.menuItemDisabled, a.menuItemDisabled:link,a.menuItemDisabled:visited,a.menuItemCtrlDisabled,a.menuItemCtrlDisabled:link,a.menuItemCtrlDisabled:visited {
  color: [COLOR_A5];
  font-size:7pt;
  font-weight: normal;
}
a.separator {
  border-color:black;
}
a.separator:hover {
  text-decoration: none;
  color: white!important;
  background-color: #333333;  
}
.popup a.menuItem:hover,.popup a.menuItemCtrl:hover  {
  color: white!important;
  background-color: #333333;	
}
.popup a.menuItemDisabled:hover,.popup a.menuItemCtrlDisabled:hover {
  color: #777777!important;
  background-color: [COLOR_A9];	
}
.popup a.menuItem:hover *,.popup a.menuItemCtrl:hover *  {
  background-color: #333333;  
  color: [COLOR_WHITE];
}
.popup a.menuItemDisabled:hover *,.popup a.menuItemCtrlDisabled:hover * {
  color: [COLOR_WHITE];
}
*/