A IMG {
  border :none;
}

DIV.space, DIV.spaceselect {
  width:56px;
  overflow:hidden;
  margin:0px;
  text-align:center;
  font-size:9pt;
  cursor:pointer;
  border-width:2px;
/*  -moz-border-radius:15px;*/
}
DIV.space { 
  border-style:solid;
  border-width:2px;
}
DIV.spaceselect { 
  border-style:inset;
}
DIV.space A:link,DIV.space A:visited,A {
  text-decoration:  none;
}
DIV.smallspace {
  width:60px;
  height:80px;
  border:none;
  float:left;
  text-align:center;
  font-family:arial;
  font-size:8pt;
  overflow : hidden;
  cursor:pointer;
}
DIV.smallspace IMG.icon{
  width:30px;
  height:30px;
}
DIV.smallspace IMG.ilink{
  position:relative;
  top:-17px;
  left:-7px;
}
DIV.rule2 {
  position:absolute;
  vertical-align:middle;
  margin-top:3px;
}
DIV.rule2 TABLE {
  width:3px;
  height:98%;
  margin:0px;
  padding:0px;
}
DIV.rule2 TR {
  margin:0px;
  padding:0px;
  background-color:transparent;
}
DIV.rule2 TD {
  vertical-align:middle;
  margin:0px;
  padding:0px;
}
DIV.col2 {
  position:absolute;
  margin:0px;
}
DIV.col3 {
  position:absolute;
  margin:0px;
  
}
DIV.spaces {
  position:absolute;
  
  margin:3px 0px  3px  3px;

}
DIV.clipboard {
  position:absolute;
  border:none;
  overflow:auto;
  margin:0px;
}
DIV.tabclip {
  position:absolute;
  overflow:auto;
  margin:0px;
  text-align:right;
}

DIV.tabclip IMG {
  width:16px;
  height:16px;
}
DIV.tabclip SPAN {
  width:30px;
  height:20px;
  overflow:hidden;
  float:right;
  border-width : 1px;
  border-style :outset outset none outset;
  padding:2px;
  cursor:pointer;
/*  -moz-border-radius: 8 8 0 0;	*/
  
}
DIV.searches {
  position:absolute;
  border-width:1px;
}
DIV.folders {
  position:absolute;
  border:none;
  overflow:auto;
  margin:3px 0px 0px 0px;
}
SPAN.micon {
  position:absolute;	
  white-space:nowrap;
  background-color:yellow;
  border:dashed 1px;
  font-size:9pt;  
}
DIV.fldlist  {
  position:absolute;
  overflow:auto;
  margin:3px;
}
DIV.resume  {
  position:absolute;
  overflow:hidden;
  font-family:arial;
  font-size:10pt;
  margin:3px;
}
DIV.folders IMG, SPAN.micon IMG.icon {
  width:20px;
}
SPAN.micon IMG.ilink {
  position:relative;
  top:-10px;
  left:-7px;
}
DIV.folders IMG.ilink {
  position:relative;
  top:-12px;
  left:-5px;
  width:8px;
}
DIV.folders LI {
 list-style:none;
 /*  list-style-position:inside;*/
  font-family:arial;
  font-size:9pt;  
  white-space:nowrap;
  padding:0px;
  margin:0px;
}
DIV.folders LI A {
  font-family:arial;
  font-size:9pt;  
  height:22px;
  overflow:hidden;
  white-space:nowrap;
}
DIV.fldlist TH IMG {
  width:32px;
}
#firstul  {
  padding-left:0px;
  margin-left:0px;
  margin-top:2px;
}
DIV.folders UL {
  padding-left:20px;
  margin-left:0px;
}

DIV.resume * {
  font-family:arial;
  font-size:9pt;
}
DIV.resume P {
  margin:0px;
}
DIV.fldlist TBODY P:hover {
  cursor:pointer;
}
DIV.resume TD {
  vertical-align:top;
}
DIV.fldlist * {
  font-family:arial;
  font-size:9pt;
}
DIV.fldlist P {
  margin:0px;
}
DIV.fldlist TD,DIV.fldlist TH  {
  padding:0px 2px 0px 2px;
}
DIV.searches INPUT {
  width:160px;
}
DIV.searches A {
  background-color:transparent;
}
BODY {
  margin:0px;
}
BODY.freedom {
  margin:30px;
}
#iresume {   
/*  -moz-border-radius:15px;*/
  border:none;
  margin:2px;
}
#miconft {  
  font-weight: bold;
}
TABLE.tfldlist {
  width:100%;
}
TABLE.tfldlist IMG.icon{
  width:16px;
  height:16px;
}
TABLE.tfldlist TH IMG{
  width:16px;
  height:16px;
}

TABLE.tfldlist TH {
  cursor:pointer;
}
TABLE.tfldlist TR {
  cursor:default;
}
TABLE.tfldlist TD {
  border-style:inherit;
  border-width:inherit;
}
BUTTON.binline {
  border:none;
  background:none;
  cursor:pointer;
}