A IMG {
  border :none;
}
DIV.space {
   width:60px;
   border:none;
   text-align:center;
  font-size:9pt;
}
DIV.space A:link,DIV.space A:visited,A {
  text-decoration:  none;
}
DIV.smallspace {
   width:60px;
   height:80px;
   border:none;
   float:left;
   text-align:center;
  font-family:arial;
  font-size:9pt;
}
DIV.smallspace IMG{
   width:30px;
   height:30px;
}
DIV.rule2 {
  position:absolute;
  vertical-align:middle;
  margin-top:3px;
}
DIV.rule2 TABLE {
   width:3px;
   height:98%;
   margin:0px;
   padding:0px;
}
DIV.rule2 TR {
   margin:0px;
   padding:0px;
}
DIV.rule2 TD {
   vertical-align:middle;
   margin:0px;
   padding:0px;
}
DIV.col2 {
  position:absolute;
}
DIV.col3 {
  position:absolute;
  
}
DIV.spaces {
  position:absolute;
   
  margin:3px 0px  3px  3px;
  -moz-border-radius:15px;
  border:inset 2px #A0A0A0;
}
DIV.clipboard {
  position:absolute;
   border:none;
  overflow:auto;
  margin:0px;
  -moz-border-radius:15px;
  border:inset 2px #A0A0A0;
}
DIV.searches {
  position:absolute;
   border-width:1px;
}
DIV.folders {
  position:absolute;
   border:none;
  overflow:auto;
  margin:3px 0px 0px 0px;
  -moz-border-radius:15px;
  border:inset 2px #A0A0A0;
}
SPAN.micon {
  position:absolute;	
  white-space:nowrap;
  background-color:yellow;
  border:dashed 1px;
  font-size:9pt;  
}
DIV.fldlist  {
  position:absolute;
  overflow:auto;
  margin:3px;
  -moz-border-radius:15px;
  border:inset 2px #A0A0A0;
}
DIV.resume  {
  position:absolute;
  overflow:auto;
  font-family:arial;
  font-size:10pt;
  margin:3px;
  -moz-border-radius:15px;
  border:inset 2px #A0A0A0;
}
DIV.folders IMG, SPAN.micon IMG {
   width:20px;
}
DIV.folders LI {
  list-style:none;
  list-style-position:inside;
  font-family:arial;
  font-size:9pt;  
  white-space:nowrap;
}
DIV.folders LI A {
  font-family:arial;
  font-size:9pt;  
  height:22px;
  overflow:hidden;
  white-space:nowrap;
}
DIV.fldlist TH IMG {
  width:32px;
}
#firstul  {
  padding-left:0px;
  margin-left:0px;
}
DIV.folders UL {
   padding-left:20px;
  margin-left:0px;
}
DIV.resume * {
  font-family:arial;
  font-size:9pt;
}
DIV.resume P {
  margin:0px;
}
DIV.fldlist TBODY P:hover {
  cursor:pointer;
}
DIV.resume TD {
  vertical-align:top;
}
DIV.fldlist * {
  font-family:arial;
  font-size:9pt;
}
DIV.fldlist P {
  margin:0px;
}
DIV.fldlist TD,DIV.fldlist TH  {
  padding:0px 2px 0px 2px;
}
DIV.searches INPUT {
  width:160px;
}
DIV.searches A {
  background-color:transparent;
}
BODY {
  margin:0px;
}
