Source: freedom-workspace
Section: web
Priority: extra
Maintainer: yannick <yannick.lebriquer@anakeen.com>
Build-Depends: debhelper (>= 5), autoconf
Standards-Version: 3.7.2

Package: freedom-workspace
Architecture: all
Depends: freedom-dav , freedom-common, freedom-fckeditor, freedom-lib, imagemagick, html2ps, xlhtml, gettext, freedom-what
Description:  The Freedom Workspace
 The workspace allow users to share documents (with history, revision,...)
